div.container-fluid.py-3 {
  padding: 0 !important;
}

.hero-container {
  height: 33vh;
  width: auto;
  background-image: url("../images/hero-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.back-icon {
  position: absolute;
  top: 40px;
  left: 40px;
}

.back-icon a span.material-icons {
  text-decoration: none;
  color: #fff;
  font-size: 48px;
}

.recipe-heading {
  background: rgba(56, 56, 56, 0.9);
  backdrop-filter: blur(4px);
  border-radius: 10px;
  color: #fff;
  bottom: 15px;
  width: 70%;
}

.recipe-title {
  font-weight: 600;
  font-size: 28px;
  color: #fff;
  text-decoration: none;
}

.recipe-subtitle {
  font-weight: 600;
  font-size: 18px;
  color: #A2A2A2;
}

.ingredients-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

}

h3 {
  color: #5F201E;
  font-weight: 600;
}

.custom-btn {
  background-color: #5F201E;
  color: white;
}