{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}

{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/view-recipe.css' %}">
{% endblock %}

{% block title %}African Recipes | Add Recipe{% endblock %}

{% block hero %}
<div class="hero-container d-flex flex-column justify-content-end align-items-center">
  <!-- Back button -->
  <div class="back-icon">
    <a href="{% url 'home' %}"><span class="material-icons">arrow_back_ios</span></a>
  </div>

  <!-- Page Heading -->
  <div class="row py-3 px-4 recipe-heading mb-3">
    <div class="col-12 recipe-title">
        <h2 class="text-center">Add New Recipe</h2>
    </div>
  
  </div>
</div>

{% endblock %}

{% block content %}


<div class="row d-flex justify-content-center py-5">
  <form action="{% url 'add-recipe' %}" enctype="multipart/form-data" method="post"></form>
    <div class="col-md-12">
      {% csrf_token %}
      <div>
        {% bootstrap_field form.title %}
      </div>
      <div>
        {% bootstrap_field form.description %}
      </div>
    </div>
    <div class="col-sm-4">
      <div>
        {% bootstrap_field form.image %}
      </div>
    </div>
    <div class="col-sm-4">
      <div>
        {% bootstrap_field form.prep_time %}
      </div>
    </div>
    <div class="col-sm-4">
      <div>
        {% bootstrap_field form.serves %}
      </div>
    </div>
    <div class="col-md-5">
      <div>
        {% bootstrap_field form.ingredients %}
      </div>
    </div>
    <div class="col-md-7">
      <div>
        {% bootstrap_field form.process %}
      </div>
    </div>
    <div class="col-md-12">
      <div>
        {% bootstrap_field form.posted_by %}
      </div>
    </div>
    <div class="col-md-12 text-center">
      <input type="submit" class="btn custom-btn" value="Submit">
    </div>
    
  </form>
</div>


{% endblock %}