{% extends 'base.html' %}

{% block content %}

<div class="container-fluid py-5">
  <div class="container-xxl">
    <div class="row">
      {% for recipe in recipes %}
      <div class="col-md-4">
        <div class="card">
          <img src="{{ recipe.image.url }}" class="card-img-top" alt="{{ recipe.title }}">
          <div class="card-body">
            {% autoescape on %}
            <h5 class="card-title">{{ recipe.title }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">PREP TIME: {{ recipe.prep_time }}</h6>
            <p class="card-text">{{ recipe.description|safe }}</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
            {% endautoescape %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}