{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}

{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/view-recipe.css' %}">
{% endblock %}

{% block title %}African Recipes | {{ recipe.title }}{% endblock %}

{% block hero %}
<div class="hero-container d-flex flex-column justify-content-end align-items-center">
  <!-- Back button -->
  <div class="back-icon">
    <a href="{% url 'view-recipe' recipe.id %}"><span class="material-icons">arrow_back_ios</span></a>
  </div>
  <div class="row py-3 px-4 recipe-heading mb-3">
    <div class="col-12 text-center recipe-title">
      <h2>Edit {{ recipe.title }}</h2>
    </div>

  </div>
</div>

{% endblock %}

{% block content %}


<div class="row d-flex justify-content-center py-5">
  <form action="{% url 'update-recipe' recipe.id %}" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {{form.non_field_errors}}
    <div class="row">
      <div class="col-md-12">
        <div>
          {{form.title.errors}}
          {% bootstrap_field form.title %}
        </div>
        <div>
          {{form.description.errors}}
          {% bootstrap_field form.description %}
        </div>
      </div>
      <div class="col-sm-4">
        <div>
          {{form.image.errors}}
          {% bootstrap_field form.image %}
        </div>
      </div>
      <div class="col-sm-4">
        <div>
          {{form.prep_time.errors}}
          {% bootstrap_field form.prep_time %}
        </div>
      </div>
      <div class="col-sm-4">
        <div>
          {{form.serves.errors}}
          {% bootstrap_field form.serves %}
        </div>
      </div>
      <div class="col-md-5">
        <div>
          {{form.ingredients.errors}}
          {% bootstrap_field form.ingredients %}
        </div>
      </div>
      <div class="col-md-7">
        <div>
          {{form.process.errors}}
          {% bootstrap_field form.process %}
        </div>
      </div>
      <div class="col-md-12">
        <div>
          {{form.posted_by.errors}}
          {% bootstrap_field form.posted_by %}
        </div>
      </div>
      <div class="col-md-12 text-center">
        <input type="submit" class="btn custom-btn" value="Submit">
      </div>
    </div>
    

  </form>
</div>


{% endblock %}