{% extends 'base.html' %}
{% load static %}

{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/view-recipe.css' %}">
{% endblock %}

{% block title %}African Recipes | {{ recipe.title }}{% endblock %}

{% block hero %}
<div class="hero-container d-flex flex-column justify-content-end align-items-center">
  <!-- Back button -->
  <div class="back-icon">
    <a href="{% url 'home' %}"><span class="material-icons">arrow_back_ios</span></a>
  </div>
  <div class="row py-3 px-4 recipe-heading mb-3">
    <div class="col-9 recipe-title">
        <h2>{{ recipe.title }}</h2>
    </div>
    <div class="col-3 text-end delete-button">
      
    </div>
    <div class="col-12 recipe-subtitle">
      <div class="row">
        <div class="col-6">
          <p>{{ recipe.prep_time }} Mins | {{ recipe.serves }} Serving</p>
        </div>
        <div class="col-6 text-end">
          <p>Recipe By: {{ recipe.posted_by }}</p>
        </div>
      </div>
    </div>
  
  </div>
</div>

{% endblock %}

{% block content %}

<div class="row py-5">
  <div class="col-md-4">
    <!-- Ingredients column -->
    <div class="ingredients-container p-4">
      <h3>Ingredients</h3>
      {{ recipe.ingredients | safe}}
      <!-- Update Button -->
      <div class="text-center">
        <a href="{% url 'update-recipe' recipe.id %}" class="btn custom-btn">Edit Recipe</a>
      </div>
      
    </div>
  </div>
  <div class="col-md-8 py-4 px-5">
    <div>
      {{ recipe.description | safe }}
    </div>
    <div>
      <h3>Method</h3>
      {{ recipe.process | safe }}
    </div>
    

  </div>
</div>


{% endblock %}